In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder,OneHotEncoder,OrdinalEncoder
from sklearn.model_selection import train_test_split

In [2]:
data_set = pd.read_csv(r"C:\Users\gandl\Documents\ML Algo Implementation\Feature Engineering\Catogorical to Numeric Conversion\BankChurners.csv")

In [3]:
data_set

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.999910
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.999940
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.999980
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.999870
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.999980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,772366833,Existing Customer,50,M,2,Graduate,Single,$40K - $60K,Blue,40,...,4003.0,1851,2152.0,0.703,15476,117,0.857,0.462,0.000191,0.999810
10123,710638233,Attrited Customer,41,M,2,Unknown,Divorced,$40K - $60K,Blue,25,...,4277.0,2186,2091.0,0.804,8764,69,0.683,0.511,0.995270,0.004729
10124,716506083,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,36,...,5409.0,0,5409.0,0.819,10291,60,0.818,0.000,0.997880,0.002118
10125,717406983,Attrited Customer,30,M,2,Graduate,Unknown,$40K - $60K,Blue,36,...,5281.0,0,5281.0,0.535,8395,62,0.722,0.000,0.996710,0.003294
10126,714337233,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,25,...,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189,0.996620,0.003377

In [4]:
# data_set[data_set.dtype() == "object"]
data_set.dtypes == "object"

CLIENTNUM                                                                                                                             False
Attrition_Flag                                                                                                                         True
Customer_Age                                                                                                                          False
Gender                                                                                                                                 True
Dependent_count                                                                                                                       False
Education_Level                                                                                                                        True
Marital_Status                                                                                                                         True
Income_Category                                                                                                                        True
Card_Category                                                                                                                          True
Months_on_book                                                                                                                        False
Total_Relationship_Count                                                                                                              False
Months_Inactive_12_mon                                                                                                                False
Contacts_Count_12_mon                                                                                                                 False
Credit_Limit                                                                                                                          False
Total_Revolving_Bal                                                                                                                   False
Avg_Open_To_Buy                                                                                                                       False
Total_Amt_Chng_Q4_Q1                                                                                                                  False
Total_Trans_Amt                                                                                                                       False
Total_Trans_Ct                                                                                                                        False
Total_Ct_Chng_Q4_Q1                                                                                                                   False
Avg_Utilization_Ratio                                                                                                                 False
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1    False
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2    False
dtype: bool

In [5]:
data_set["Attrition_Flag"].unique()

array(['Existing Customer', 'Attrited Customer'], dtype=object)

In [6]:
data_set["Card_Category"].unique()

array(['Blue', 'Gold', 'Silver', 'Platinum'], dtype=object)

In [7]:
data_set["Income_Category"].unique()

array(['$60K - $80K', 'Less than $40K', '$80K - $120K', '$40K - $60K',
       '$120K +', 'Unknown'], dtype=object)

# Ordinal Encoder()

In [8]:
oe = OrdinalEncoder(categories = [["Attrited Customer","Existing Customer"],["Blue","Silver","Gold","Platinum"]])
oe.fit(data_set[["Attrition_Flag","Card_Category"]])

OrdinalEncoder(categories=[['Attrited Customer', 'Existing Customer'],
                           ['Blue', 'Silver', 'Gold', 'Platinum']])

In [11]:
data_set[["Attrition_Flag","Card_Category"]] = oe.transform(data_set[["Attrition_Flag","Card_Category"]])

In [12]:
data_set.sample(15)

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
756,716144058,1.0,36,F,1,College,Single,$40K - $60K,0.0,25,...,1888.0,0,1888.0,0.928,1886,66,0.650,0.000,0.000276,0.999720
8756,778863258,0.0,46,F,4,Unknown,Married,Unknown,0.0,27,...,6030.0,0,6030.0,1.031,4983,62,0.442,0.000,0.995490,0.004510
4236,720968583,1.0,52,F,2,Unknown,Married,Unknown,0.0,45,...,29551.0,2095,27456.0,1.100,3226,63,0.853,0.071,0.000061,0.999940
6634,778696608,1.0,46,M,3,Graduate,Divorced,$40K - $60K,0.0,27,...,10931.0,2297,8634.0,0.639,4802,73,0.872,0.210,0.000199,0.999800
4546,780378633,1.0,43,M,3,College,Unknown,$60K - $80K,0.0,33,...,9382.0,1455,7927.0,0.482,3412,71,0.821,0.155,0.000521,0.999480
7871,713809833,1.0,42,F,3,Graduate,Unknown,Unknown,0.0,32,...,9749.0,859,8890.0,0.584,4684,86,0.623,0.088,0.000187,0.999810
8844,823519458,1.0,44,F,3,Graduate,Married,Less than $40K,0.0,40,...,6441.0,2151,4290.0,0.640,7123,94,0.492,0.334,0.000096,0.999900
1090,720848733,1.0,38,M,1,High School,Married,$80K - $120K,0.0,24,...,13363.0,1230,12133.0,0.688,1815,33,0.435,0.092,0.000164,0.999840
9958,824160333,1.0,56,M,2,High School,Unknown,$120K +,0.0,52,...,23362.0,1453,21909.0,0.848,15399,116,0.841,0.062,0.000111,0.999890
150,711009708,1.0,40,M,3,High School,Single,$80K - $120K,0.0,28,...,21617.0,0,21617.0,1.047,1351,22,0.467,0.000,0.000020,0.999980
415,709864833,1.0,49,M,2,Post-Graduate,Married,$60K - $80K,0.0,38,...,8077.0,1965,6112.0,0.637,1329,26,0.444,0.243,0.000049,0.999950
1742,719818983,0.0,39,M,1,College,Divorced,$80K - $120K,0.0,28,...,12464.0,0,12464.0,0.864,1195,35,0.522,0.000,0.997880,0.002118
959,715232058,1.0,61,M,0,Post-Graduate,Married,$40K - $60K,0.0,53,...,5561.0,1434,4127.0,1.423,1820,42,0.826,0.258,0.000056,0.999940
1737,720662508,1.0,39,M,1,Graduate,Married,$120K +,0.0,25,...,5764.0,1529,4235.0,1.356,1972,38,0.520,0.265,0.000169,0.999830
3914,719910333,1.0,43,F,3,Unknown,Unknown,Less than $40K,0.0,36,...,5853.0,1190,4663.0,0.936,3595,80,0.667,0.203,0.000248,0.999750

In [15]:
data_set["Education_Level"].unique()

array(['High School', 'Graduate', 'Uneducated', 'Unknown', 'College',
       'Post-Graduate', 'Doctorate'], dtype=object)

# OneHotEncoder()

In [18]:
# for the nominal catagories we use One Hot Encoding 
ohe = OneHotEncoder()
ohe.fit(data_set)

OneHotEncoder()

In [26]:
transfomed_col = ohe.fit_transform(np.array(data_set["Gender"]).reshape(-1,1)).toarray()
transfomed_col

array([[0., 1.],
       [1., 0.],
       [0., 1.],
       ...,
       [1., 0.],
       [0., 1.],
       [1., 0.]])

In [27]:
edited = pd.DataFrame(np.hstack((data_set,transfomed_col)))
edited.head()

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,768805383,1.0,45,M,3,High School,Married,$60K - $80K,0.0,39,...,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991,0.0,1.0
1,818770008,1.0,49,F,5,Graduate,Single,Less than $40K,0.0,44,...,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994,1.0,0.0
2,713982108,1.0,51,M,3,Graduate,Married,$80K - $120K,0.0,36,...,3418.0,2.594,1887,20,2.333,0.0,0.000021,0.99998,0.0,1.0
3,769911858,1.0,40,F,4,High School,Unknown,Less than $40K,0.0,34,...,796.0,1.405,1171,20,2.333,0.76,0.000134,0.99987,1.0,0.0
4,709106358,1.0,40,M,3,Uneducated,Married,$60K - $80K,0.0,21,...,4716.0,2.175,816,28,2.5,0.0,0.000022,0.99998,0.0,1.0

# LabelEncoder()

In [28]:
label_data_set = pd.read_csv(r"C:\Users\gandl\Documents\ML Algo Implementation\Feature Engineering\Catogorical to Numeric Conversion\label_data_set.csv")

In [29]:
label_data_set.head()

   Employee ID        Name  Age  Gender   Department Performance
0            1  John Smith   35    Male  Engineering   Excellent
1            2    Jane Doe   28  Female    Marketing        Good
2            3   David Lee   42    Male        Sales   Excellent
3            4  Emily Chen   30  Female           HR     Average
4            5    Alex Kim   45    Male      Finance   Excellent

In [30]:
label_encoder = LabelEncoder()
label_encoder.fit(label_data_set["Performance"])

LabelEncoder()

In [31]:
label_encoder.transform(label_data_set["Performance"]).reshape(-1,1)

array([[1],
       [2],
       [1],
       [0],
       [1],
       [2],
       [1],
       [2],
       [0],
       [1],
       [2],
       [1],
       [2],
       [0],
       [1],
       [1],
       [2],
       [1],
       [2],
       [0]])